pythonTest/xml/sw_schema.rnc

start = root
root = element root{title,text, writer, script}
script = element script{mixed{sd|subTitle|crawl|setting|sp|speaker}*}
sp = element sp{speaker, text}
speaker = element speaker{text}
setting = element setting{text}
crawl = element crawl{text}
subTitle = element subTitle{epNum, text}
epNum = attribute epNum{'1'|'2'|'3'|'4'|'5'|'6'}
sd = element sd{text}
writer = element writer{text}
title = element title{text}
